<p id="notice"><%= notice %></p>



<div class="jumbotron">
   	<h1><%= @post.title %></h1>
   	<p class="lead"><%= @post.description %></p>

	<p><%= link_to 'Edit', edit_post_path(@post), :class => "btn btn-lg btn-warning" %> <%= link_to 'Back', posts_path, :class => "btn btn-lg btn-warning" %></p>
</div>
